@page
@model MyApp.Namespace.DashboardModel
@{
}
<style type="text/css">

    .title-banner {
        background-color: blue;
        color: white;
    }
</style>

<div class="container">
    <div class="main-body">

        <!-- Quotation about food -- affirmation -- love -->
        <!-- Modal -->

        <div class="row gutters-sm">
            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="title-banner w-100 rounded">Today's Menu </div>
                            @if (@Model.TodaysMeals.Count > 0)
                            {
                                //Display List of Food Items
                                //TODO We may want to resuse this block below in a partial?Jkj
                                foreach (var meal in @Model.TodaysMeals)
                                {
                                    @:@meal.MealName
                                }
                            }
                            else
                            {
                                @:<span>There is Nothing on the Menu for Today. Add some Food to keep on track</span>
                            }
                            <div class="title-banner w-100 rounded">Tomorrow's Menu</div>
                            @if (@Model.TomorrowsMeals.Count > 0)
                            {
                                //Display List of Food Item

                            }
                            else
                            {
                                foreach (var meal in @Model.TomorrowsMeals)
                                {
                                    @:@meal.MealName
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-3">
                <div class="card-body">
                </div>
            </div>

            <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                            <small>Web Design</small>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>

