@page
@model MyApp.Namespace.GroceryListModel
@{
}


<!-- Input for adding directly to grocery list -->
<input asp-for="NewGroceryItem"> 

<!-- Grid with List for adding items to grocery list -->

<div>

</div>
