@page
@model MyKitchen.Pages.GroceryListModel
@{
}


<!-- Input for adding directly to grocery list -->
<input asp-for="NewItem"> 

<!-- Grid with List for adding items to grocery list -->
@foreach(var item in @Model.GroceryList)
{
    <div>
        <div>@item</div>
        <div class="dvDone"></div>
        <div class="dvDelete"></div>
    </div>
}

