@page
@model MyApp.Namespace.IndexModel
@{
}

<ul>
    <li></li>
<p>Plan, Prepare, and enjoy meals. </p>


</ul>
<p>>Meal Calendar</p>
<hr>
Meal Dashboard shows meal planning tasks, plans, and status in one place
<hr>
Create a Recipe book as well as include your favorite resturants and take-out options
<
Flexible planning tool. Eat the way you want to 

Save Time

Eat Healthy

Prioritize Vegetables - Fiber - Protein

-Seek Creatity

-Become a better planner - 

Planning is Hard.. Having Fresh Food Purchased and Ready is challenging



