
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="fmSearchItems" name="searchForm" method="post" asp-action="SearchAll">


<div class="search-bar">
  <input class="input-text" type="text" name="searchText" placeholder="Search">
  <i class="icon fa fa-search" style="cursor:pointer;" onclick="$('#fmSearchItems').submit()"></i>
  Show Meals Only? <input type="checkbox" name="cbShowMealsOnly" />
</div>
</form>


<h1 id="h1draggable" class="draggable-event"></h1>
<div id="itemContainer">

</div>

<div style="clear: both;"></div>
<div id="calendar">
</div>


<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/core/main.min.css"/>
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/daygrid/main.min.css"/>

@section Scripts
{

    <script src="/lib/fullcalendar/core/main.min.js"></script>
    <script src="/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="/lib/fullcalendar/interaction/main.min.js"></script>
    @*<script src="/lib/superagent/superagent.js"></script>*@

    <script type="text/javascript">

        //event fetching function
        //import { req } from 'superagent';


        var eventSources = [
            {
                url: "/calendar/GetEventsFeed",
                method: 'GET',
                failure: function() {
                    alert('could not load items');
                },
                color: 'blue',
                textColor:'black'
            }
        ];
        
        var theCalendar = null;


        $(document).ready(function() {
            var events = [];

            GenerateCalendar(eventSources);

            ////Get Events - calls GenerateCalendar
            //$.ajax({
            //    type: "GET",
            //    url: "/calendar/GetEvents",
            //    success: function(data) {
            //        //return;
            //        $.each(data,
            //            function(i, v) {

            //                var newEvent = {
            //                    title: v.subject,
            //                    description: v.Description,
            //                    start: v.start, //moment(v.Start),
            //                    end: v.end != null ? v.end : null,
            //                    color: v.ThemeColor,
            //                    allDay: v.IsFullDay,
            //                    eventID: v.eventID
            //                }
            //                events.push(newEvent);

            //            });
            //        //GenerateCalendar(events);

            //    },
            //    error: function(error) {
            //        alert('failed' + error);
            //    }
            //});

            //Get Available Food Items & Meals
            $.ajax({
                type: "GET",
                url: "/calendar/GetAvailableItems",
                success: function(data) {

                    window.availableItems = [];

                    $.each(data,
                        function(i, v) {
                            //for each item create a new div box;

                            window.availableItems.push(v);

                            var trimItemName = v.itemName.replace(/'/g, '$');
                            //TODO figure out how to have single quotes in the item name without breaking javascript. 



                            var dataEvent = "{\"itemId\":" + v.itemId + ",\"title\":\"" + trimItemName + "\"" + ",\"itemType\":\"" + v.itemType + "\"}";

                            //if meal 

                            if(v.itemType == "MEAL"){

                                $("#itemContainer").append("<div class='draggableitem draggableitem-meal' data-event='" + dataEvent + "'>" + v.itemName + " </div>");
                            }
                            else
                           {
                                $("#itemContainer").append("<div class='draggableitem draggableitem-foodItem' data-event='" + dataEvent + "'>" + v.itemName + " </div>");
                           } 

                        });

                },


                error: function(error) {
                    alert('failed' + error);
                }
            });


            //Set Up Search Ajax Call 
             $("#fmSearchItems").submit(function(event){

                var formData = $(this).serialize();

                $.ajax({
                    type :"POST",
                    url:"/calendar/SearchForItems",
                    data:formData
                }).done(function(data){

                    //replace existing draggable options with whatever is returned from the search
                    window.availableItems = [];
                     $("#itemContainer").empty();

                    $.each(data,
                        function(i, v) {
                            //for each item create a new div box;

                            window.availableItems.push(v);

                            var trimItemName = v.itemName.replace(/'/g, '$');
                            //TODO figure out how to have single quotes in the item name without breaking javascript. 



                            var dataEvent = "{\"itemId\":" + v.itemId + ",\"title\":\"" + trimItemName + "\"" + ",\"itemType\":\"" + v.itemType + "\"}";

                            //if meal 

                            if(v.itemType == "MEAL"){

                                $("#itemContainer").append("<div class='draggableitem draggableitem-meal' data-event='" + dataEvent + "'>" + v.itemName + " </div>");
                            }
                            else
                           {
                                $("#itemContainer").append("<div class='draggableitem draggableitem-foodItem' data-event='" + dataEvent + "'>" + v.itemName + " </div>");
                           } 

                        });




                });

                event.preventDefault();
            });



            //Create Calendar
            function GenerateCalendar(eventSources) {

                var calendarEl = document.getElementById('calendar');
                var draggableEL = document.getElementById('itemContainer');
                var Draggable = FullCalendarInteraction.Draggable;

                theCalendar = new FullCalendar.Calendar(calendarEl,
                    {
                        plugins: ['dayGrid', 'interaction'],
                        eventSources: eventSources,
                        //events: events,
                        editable: true,
                        droppable: true,
                        fixedWeekCount: false,
                        height: 600,
                        displayEventTime: false,
                        //header: {
                        //    //TODO need to include location of the custom button see below
                        //    left: 'dayGridMonth,timeGridWeek,timeGridDay custom1',
                        //    center: 'title',
                        //    right: 'custom2 prevYear,prev,next,nextYear'
                        //},
                        footer: {
                            left: 'custom1'
                        },

                        //DOC SAVE
                        //dateClick: function() {
                        //    alert('a day has been clicked!');
                        //}

                        eventRender: function(info) {

                                $(info.el).find('.fc-content').append("<img style='width:28px;height:28px;float:right;' id='svg-delete-event' src='/images/red-trash-delete-icon.svg' />");

                                        if(info.event.extendedProps.mealID != null || info.event.extendedProps.itemType == "MEAL")
                                        {
                                             info.el.style.backgroundColor  = "orange"
                                             info.el.style.color = "white";
                                            }
                                            else
                                            {
                                                 info.el.style.backgroundColor  = "blue"
                                                 info.el.style.color = "white";
                                            }

                                $(info.el).find("#svg-delete-event").click(function(event) {

                                    //clicking delete should only trigger the click event for the trash can icon here, and should not trigger the click event for the entire event which would bring user to details view.
                                    event.stopPropagation();

                                    //remove event from calendar
                                    info.event.remove();

                                    //also remove from backend stroage


                                $.ajax({
                                    url: '/calendar/RemoveEvent/',
                                    data: JSON.stringify({
                                        Subject: info.event.title,
                                        Start: info.event.start,
                                        IsFullDay: "true",
                                        EventID: info.event.extendedProps.eventID,

                                    }),
                                    type: "POST",
                                    contentType: 'application/json; charset=utf-8',
                                    success: function(json) {
                                        console.log("Delete Event returned");
                                    },
                                    failure: function(json) {
                                        console.log("Delete Event failed.");
                                    }

                                });

                            });
                            
                            @* .hide(); *@


                            $(info.el).find("#svg-delete-event").mouseover(function(){ 

                                $(this).attr("src","/images/red-trash-delete-icon-hover.svg")
                            });


                            $(info.el).find("#svg-delete-event").mouseout(function(){ 

                                $(this).attr("src","/images/red-trash-delete-icon.svg")
                            });

                            $(info.el).find("#svg-delete-event").hide(); 

                            },
                        
                        eventClick: function(info){

                            //if food item, redirect to food item
                            if(info.event.extendedProps.itemType == "FOOD ITEM"){

                                window.location.href = "/FoodItems/Details/" + info.event.extendedProps.itemId;
                            }
                            else if(info.event.extendedProps.itemType == "MEAL")
                            {

                                window.location.href = "/MealBuilder/MealDetails/" + info.event.extendedProps.itemId;;
                            }
                            else {

                                window.location.href = "/FoodItems/Details/" + info.event.extendedProps.foodItemID;

                            //if meal, redirect to meal
                            //TODO NOT IMPLEMENTED
                            }
                        },
                        eventMouseEnter:function(info){

                            //find remove button and make it visible
                            $(info.el).find('#svg-delete-event').show();
                        },
                        eventMouseLeave:function(info){

                            //find remove button and make it visible
                            $(info.el).find('#svg-delete-event').hide();
                        },
                        eventDrop: function(info) {

                            $.ajax({
                                url: '/calendar/UpdateEvent',
                                data: JSON.stringify({
                                    Subject: info.event.title,
                                    Start: info.event.start,
                                    IsFullDay: "true",
                                    EventID: info.event.extendedProps.eventID,


                                }),
                                type: "POST",
                                contentType: 'application/json; charset=utf-8',
                                success: function(json) {
                                    console.log("Update Event returned");
                                },
                                failure: function(json) {
                                    console.log("Update Event failed.");
                                }

                            });

                        },
                        eventReceive: function(info) {

                            var mealId,foodItemId;

                            var sitemId = info.event.extendedProps.itemId
                            var foodItem = window.availableItems.find(x =>x .itemId == sitemId);

                            if(foodItem.itemType == "FOOD ITEM")
                            {
                                foodItemId = foodItem.itemId;
                                mealId = null;
                                
                                       
                            }
                            else if(foodItem.itemType == "MEAL")
                            {
                                mealId = foodItem.itemId;
                                foodItemId = null;
                                
                            }

                            $.ajax({
                                url: '/calendar/SaveNewEvent',
                                data: JSON.stringify({
                                    Subject: foodItem.itemName,
                                    Start: info.event.start,
                                    IsFullDay: "true",
                                    FoodItemId: foodItemId,
                                    MealID: mealId
                                }),
                                type: "POST",
                                //contentType: 'application/x-www-form-urlencoded',
                                contentType: 'application/json; charset=utf-8',
                                //contentType:'json',
                                success: function(json) {
                                    console.log("SaveNewEvent returned");
                                    info.event.setExtendedProp( "eventID", json )
                                    
                                },
                                failure: function(json) {
                                    console.log("SaveNewEvent failed.");
                                }
                            });
                        },
                        customButtons: {
                            custom1: {
                                text: 'Clear Month',
                                click: function(whatisthis) {

                                    var curMonth = theCalendar.getDate().getMonth();


                                        //call ajax to remove all events in the current month
                                        $.ajax({
                                            url: '/calendar/ClearMonth',
                                            data: JSON.stringify({
                                                Month: curMonth

                                            }),
                                            type: "POST",
                                            contentType: 'application/json; charset=utf-8',
                                            success: function(json) {
                                                console.log("Clear month returned");
                                                theCalendar.getEventSources()[0].refetch();

                                            },
                                            failure: function(json) {
                                                console.log("Clear month failed")
                                            }

                                        });


                                    //reload calendar from db


                                    alert('clicked custom button does this trigger build? DEBUG TEST!');
                                }
                            }
                        }


                    });

                //DOC SAVE               
                //calendar.on('dateClick',
                //    function(info) {
                //        alert(info.dateStr);
                //    });


                theCalendar.render();

                new Draggable(draggableEL,
                    {
                        itemSelector: '.draggableitem',
                        longPressDelay: 200

                    });


            }
        });


    </script>

}
