
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h1 id="h1draggable" class="draggable-event">DRAG ME</h1>
<div id="itemContainer">

</div>
<div id="calendar">
</div>


<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/core/main.min.css"/>
<link rel="stylesheet" type="text/css" href="/lib/fullcalendar/daygrid/main.min.css"/>

@section Scripts
{

    <script src="/lib/fullcalendar/core/main.min.js"></script>
    <script src="/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="/lib/fullcalendar/interaction/main.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var events = [];

            $.ajax({
                type: "GET",
                url: "/calendar/GetEvents",
                success: function(data) {
                    GenerateCalender(events);
                    return;
                    $.each(data,
                        function(i, v) {
                            events.push({
                                title: v.subject,
                                description: v.Description,
                                start: v.start, //moment(v.Start),
                                end: v.end != null ? v.end : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay
                            });
                        });

                },
                error: function(error) {
                    alert('failed' + error);
                }
            });

            $.ajax({
                type: "GET",
                url: "/calendar/GetAvailableItems",
                success: function(data) {

                    $.each(data,
                        function(i, v) {
                            //for each item create a new div box;
                            $("#itemContainer") .append("<div class='draggableitem' data-event='{\"title\":\"" + v.itemName + "\"}'>" + v.itemName + " </div>");

                        });

                },
                error: function(error) {
                    alert('failed' + error);
                }
            });


            function GenerateCalender(events) {

                var calendarEl = document.getElementById('calendar');
                var draggableEL = document.getElementById('itemContainer');
                var Draggable = FullCalendarInteraction.Draggable;

                var calendar = new FullCalendar.Calendar(calendarEl,
                    {
                        plugins: ['dayGrid', 'interaction'],
                        events: events,
                        editable: true,
                        droppable: true,
                        fixedWeekCount: false,
                        height: 600,


                        dateClick: function() {
                            alert('a day has been clicked!');
                        }
                    });


                calendar.on('dateClick',
                    function(info) {
                        alert(info.dateStr);
                    });


                calendar.render();

                // ReSharper disable once ConstructorCallNotUsed
                new Draggable(draggableEL,
                    {
                        //eventData: function(eventEl) {
                        //    return {
                        //    title: eventEl.innerText,
                        //        duration: '01:00'

                        //    }


                        //},
                        itemSelector: '.draggableitem'

                    });


                //Version 4 Initialization
                //document.addEventListener('DOMContentLoaded', function() {
                //});


                //OLD 3.x.x API!

                //$("#calendar").FullCalendar('destroy');
                //$('#calender').FullCalendar({
                //    contentHeight: 400,
                //    defaultDate: new Date(),
                //    timeFormat: 'h(mm)a',
                //    header: {
                //        left: 'prev,next today',
                //        center: 'title',
                //        right: 'month,basicWeek,basicDay,agenda'
                //    },
                //    eventLimit: true,
                //    eventColor: 'blue',
                //    events: events

                //});


            }
        });


    </script>

}
