
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<table class="table table-dark">
    <thead>
    <th scope="col">Food</th>
    <th scope="col">Remove</th>
    <th scope="col">Satiate Profile</th>
    </thead>

    <tbody></tbody>
</table>

