@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>My Meals</h2>
<table class="table table-dark">
    <thead>
    @* Should be a plate or a takeout bag if the meal is takeout *@
        <th scope="col">Characteristic IMAGE </th>
        <th scope="col">Meal Name</th>
        <th scope="col">Satiety Profile</th>
        <th scope="col">Edit</th>
    </thead>
    <tbody>
        
    </tbody>
</table>

