@model MealBuilderIndexViewModel

<form>


<table class="table table-light">
    <thead>

    @* Should be a plate or a takeout bag if the meal is takeout *@
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Food Items</th>
    <th scope="col">Satiety Profile</th>
    <th scope="col">Edit</th>
    </thead>
    <tbody>
    @foreach(var item in Model.Meals)
    {
        <tr>
            <td>
                <img src="/images/plate-with-orange-pattern.svg" style="width: 70px;"/>
            </td>
            <td>
                @item.MealName
            </td>
            <td>
                @foreach(var foodItem in item.MealFoodItems){
                    <ul>
                    @foodItem.FoodItems.FoodItemName

                    </ul>
                }
            </td>
            <td>
                Tasty
            </td>
            <td>
                <a style="display: none;" asp-action="SelectFoodItemsForMeal" asp-route-mealId="@item.MealID">Select</a>
                <a asp-action="MealDetails" asp-route-mealId="@item.MealID">Select</a>

            </td>
        </tr>
    }
    </tbody>
</table>

</form>