@model MealBuilderIndexViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Meals";
}

@* Two Components that will interact (Left side is the current meal) - Right side is a list of our food items - *@

@*

My Meals
+Create New Meal
=Meal 1 [Edit]
-Meal 2 [Edit] 
-Meal 3 [Edit]


Search Food Items
-List of Food Items
-Item 1 [add to meal]
-Item 2 [add to meal]
-Item 3 [add to meal]

*@


<h1>Meals</h1>
    <p>
        <a asp-action="Create">Create New Meal</a>
    </p>

<form id="fmSearchItems" name="fmSearchMeals" method="post" asp-action="SearchMeals">
<div class="search-bar">
  <input class="input-text" type="text" name="searchText" placeholder="Search">
  <i class="icon fa fa-search" onclick="document.fmSearchMeals.submit()" style="cursor:pointer;"></i>
  @* Show Meals Only? <input type="checkbox" name="cbShowMealsOnly" /> *@
</div>
</form>

            @await Html.PartialAsync("_MealList")
@*<div class="container">
    <div class="row">
        <div class="col">
            Meal List
        </div>
    </div>    
</div>*@






